body {
   width:80%;
   margin:auto;
}

* {
    box-sizing: border-box;
}

.navbar-brand img {
    width: 160px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1px;
}

.navbar {
    padding: 1em 0 !important;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.banner {
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: #CCC thin solid;
}

.bannerimg {
    margin-top: 30px;
    width: 100%;
}


.point {
    height: 150px;
    float: right;
    padding: 20px;
    border: none; 
    margin:20px auto;
}

.footer {
    border-top: thin #CCC solid;
    height: 180px;
    margin-top: 150px;
}
 