
@{
    ViewBag.Title = "Index";
}



</br>
</br>

<div class="container">
    <img src="~/Images/banner1.jpg" class="img-fluid" style="height:400px; width:100%; margin:0 auto" />
</div>
</br>
</br>
<h5 class="text-center">Welcome to Our Website. A place Known as Heaven for the readers. Here you can have access to the variety of books comprising of different categories. You can buy the books in the form of a <b>PDF, CD or Hard Copy</b>. To start exploring and ordering, Please @Html.ActionLink("Sign Up","LogIn","Home") now.  </h5>

