
@{
    ViewBag.Title = "loginIndex";
}
<style type="text/css">
    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }



    .card {
        background: #222;
        border: 1px solid #dd2476;
        color: rgba(250, 250, 250, 0.8);
        margin-bottom: 2rem;
    }

    .btn {
        border: 5px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        border-image-source: var(--gradient) !important;
        text-decoration: none;
        transition: all .4s ease;
    }

        .btn:hover, .btn:focus {
            background: var(--gradient) !important;
            -webkit-background-clip: none !important;
            -webkit-text-fill-color: #fff !important;
            border: 5px solid #fff !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: underline;
        }

    .port-image {
        width: 400px;
        height: 400px;
    }

    .media {
        background: none repeat scroll 0 0 #fff;
        border-bottom: 1px solid #c7c9c8;
        margin-bottom: 30px;
    }

        .media a {
            overflow: hidden;
        }

    .media-img {
        overflow: hidden;
        padding: 0;
        position: relative;
    }

        .media-img .img-overlay {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
            height: 100%;
            opacity: 0;
            padding-top: 50%;
            position: absolute;
            text-align: center;
            transition: opacity 0.3s ease-out 0s;
            visibility: hidden;
            width: 100%;
            z-index: 4;
        }



    .media div.media-img img {
        height: auto;
        transform: scale(1, 1);
        transition-duration: 2000ms;
        transition-timing-function: ease-out;
        width: 100%;
    }
</style>


</br>
</br>

<div class="container">
    <img src="~/Images/banner2.jpeg" class="img-fluid" style="height:400px; width:100%; margin:0 auto" />
</div>

</br>
</br>

<div class="container">
    <h3 class="">
        <i class="fa fa-star-half-o" aria-hidden="true"></i> 
        New Releases 
    </h3>

    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The King of Drugs</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by Nora Barret</h6>
                        <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Then Imperfections of Memory</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by Angelina</h6>
                        <p class="card-text"> as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Girl On The Train</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by Paula Hawkins</h6>
                        <p class="card-text">text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved and revolutionarized over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <h3 class="">
        <i class="fa fa-heart" aria-hidden="true"></i>
        Most Selling
    </h3>

    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A Million to One</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by Tony Faggioli</h6>
                        <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Girl of Ink And Stars</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by Kiran Millwood</h6>
                        <p class="card-text">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Book of M</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by Peng Shepherd</h6>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a pieceand a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</br>
</br>
</br>
</br>
<h3 class="text-center">
    <=- Competetion Result of the previous Month -=>
    </br>
    </br>
</h3>
</br>
</br>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="media">
            <div class="row">
                <div class="media-img col-sm-4 col-md-3 col-lg-3">
                    <img class="port-image" src="~/Images/w1.jpg">
                </div>
                <div class="col-sm-8 col-md-9 col-lg-9">
                    <h3>

                        John Conner

                    </h3>
                    <h6>
                        <span class="">Citizen</span>
                        <span class="">/</span>
                        <span class="">Story Writer</span>
                        <span class=""></span>
                    </h6>
                    <p>
                        Winner in story writing lorem ipsum escribire mucho texto por ejemplo Bootdey es una galería de fragmentos de bootstrap gratis Códigos html Css Js
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="media">
            <div class="row">
                <div class="media-img col-sm-4 col-md-3 col-lg-3">
                    <img class="port-image" src="~/Images/w2.jpg">
                </div>
                <div class="col-sm-8 col-md-9 col-lg-9">
                    <h3>

                        Emily James

                    </h3>
                    <h6>
                        <span class="">Student</span>
                        <span class="">/</span>
                        <span class="">Essay Writing</span>
                        <span class=""></span>
                    </h6>
                    <p>
                        Winner in essay writing lorem ipsum escribire mucho texto por ejemplo Bootdey es una galería de fragmentos de bootstrap gratis Códigos html Css Js
                    </p>
                </div>
            </div>
        </div>



        </br>
        </br>
        <h3 style="font-size:20px;">@Html.ActionLink("Learn More", "Competetion")</h3>
    </div>
</div>